{% include base_path %}

<div class="page__footer-follow">
  <a href="https://github.com/aniskhan25">GitHub</a>
  <span>|</span>
  <a href="https://scholar.google.fr/citations?user=YZBUFucAAAAJ&hl=en">Scholar</a>
  <span>|</span>
  <a href="https://orcid.org/0000-0002-8306-475X">ORCID</a>
  <span>|</span>
  <a href="https://www.linkedin.com/in/aniskhan25/">LinkedIn</a>
  <span>|</span>
  <a href="mailto:aniskhan25@gmail.com">Email</a>
</div>

<div class="page__footer-copyright">source: <a href="https://github.com/aniskhan25/aniskhan25.github.io">github.com/aniskhan25/aniskhan25.github.io</a><br>&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}</div>
